<div class="table-responsive">
  <table class="table table-striped table-hover ">
	  <tr>
	    <th>Name</th>
		<th>Actions</th>
	  </tr>
	  <% projects.each do |project| %>
	  <tr>
	    <td><%= project.name %></td>
		<% if project.get_role(current_user) == 'owner' %>
	      <td><%= link_to 'Show Users', show_users_projects_path(:id => project.id) %> | <%= link_to 'View Surveys', project_path(project) %> | <%= link_to 'Rename', edit_project_path(project) %> | <%= link_to('Delete', project_path(project), :confirm => "Are you sure? This action cannot be undone.", :method => :delete) %></td>
		<% elsif project.get_role(current_user) == 'coder' %>
		  <td><%= link_to 'View Surveys', project_path(project) %></td>
		<% else %>
		  <td>You are not associated with this project.</td>
		<% end %>  
	  </tr>
	  <% end %>
  </table>
</div>  
 
