<h1><%= @survey.project.name %>: <%= @survey.name %></h1>

  <%= semantic_form_for :test, :html => { :class => "form-horizontal"} do |f| %>
  <fieldset>
    <legend><%= @survey.name %></legend>	    
	  <%= f.inputs do %>
  	    <% @current_items.each do |item| %>
  		  <% if item.field_type == "Label" %>
  		    <p><%= raw item.display_text %></p>
  		  <% else %>
			<%= f.semantic_fields_for "#{item.field_name}", :html => { :method => :get } do |fi| %>
			  <%= fi.input :survey_item_id, :as => :hidden, :input_html => { :value => item.id } %>	
			  <%= fi.input :survey_id, :as => :hidden, :input_html => { :value => @survey.id } %>  
	  	      <%= fi.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
	  		  <div class="form-group"> 
	  		    <label for="name" class="col-lg-2 control-label"><%= item.display_text.html_safe %></label>
	  		    <div class="col-lg-10">
				  <% if item.formtastic_field_map == "radio" || item.formtastic_field_map == "check_boxes" %>
				    <%= fi.input :response_text, :as => item.formtastic_field_map, :label => false , :collection => item.field_options.nil? ? '' : item.field_options.split(',') %>	
				  <% else %>
				    <%= fi.input :response_text, :as => item.formtastic_field_map, :label => false , :collection => item.field_options.nil? ? '' : item.field_options.split(','), :input_html => { :class => "form-control"}, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100 %>	
				  <% end %>
	  		    </div>	
	  		  </div>  
		    <% end %>
		  <% end %>
		<% end %>
	  <% end %>	
  </fieldset>	
  <% end %>
  <%= button_to "Return to Project", project_path(@survey.project), :method => :get, :class => "btn btn-primary" %>