<% breadcrumb :survey, @survey %>

<h1><%= @project.name %>: <%= @survey.name %></h1>

<% if @project.get_role(current_user) == 'owner' && !@owner_code %>		
<div class="col-lg-12">
  <h2>Current Survey Items</h2>
  <p>Survey Items that are included in this Survey.</p>
  <div class="table-responsive">
    <table class="table table-striped table-hover ">
	  <tr>
	    <th>Name</th>
		<th>Description</th>
		<th>Actions</th>
	  </tr>
	  <% @current_items.each do |item| %>
	  <tr>
	    <td><%= item.field_name %></td>
		<td><%= item.field_type %></td>
		<td><%= link_to "&#8593;".html_safe, move_surveys_path(:method => 'move_higher', :survey_id => @survey.id, :survey_item_id => item.id)%>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "&#8595;".html_safe, move_surveys_path(:method => 'move_lower', :survey_id => @survey.id, :survey_item_id => item.id) %>&nbsp;&nbsp;&nbsp; | 
	    <%= link_to "Move to Top", move_surveys_path(:method => 'move_to_top', :survey_id => @survey.id, :survey_item_id => item.id)%> | <%= link_to "Move to Bottom", move_surveys_path(:method => 'move_to_bottom', :survey_id => @survey.id, :survey_item_id => item.id) %> | <%= link_to "Remove", move_surveys_path(:method => 'remove_from_list', :survey_id => @survey.id, :survey_item_id => item.id) %></td>
	  </tr>
	  <% end %>
    </table>
  </div>
</div>

<div class="col-lg-6">
  <h2>Available Survey Items</h2>
  <p><%= link_to "Create New Survey Item", new_survey_item_path(:project_id => @survey.project.id) %></p>
  <div class="row">
    <div class="well"> 
      <%= semantic_form_for @survey, :html => { :class => "form-horizontal"} do |f| %>
        <%= hidden_field :survey_id, @survey.id %>
		<fieldset>
          <legend>Manage Survey Items for <%= @survey.name %></legend>	    
  		  <%= f.inputs do %>
  		    <div class="form-group"> 
  		      <label for="name" class="col-lg-3 control-label">Survey Items</label>
  		      <div class="col-lg-9">
  		        <%= f.input :survey_items, :as => :check_boxes, :label => false, :collection => @survey_items, :member_label => Proc.new { |si| " #{si.display_text}" } %>
  		      </div>	
  		    </div>
  		  <% end %>
  		  <%= f.actions do %>
  		    <%= f.action :submit, :as => :button, :button_html => { :class => "btn btn-primary"} %>
  		  <% end %>
        </fieldset>	
      <% end %>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <h2>Available Target Lists</h2>
  <p><%= link_to "Create New Target List", new_target_list_path(:project_id => @survey.project.id) %></p>
  <div class="row">
    <div class="well"> 
      <%= semantic_form_for @survey, :html => { :class => "form-horizontal"} do |f| %>
        <%= hidden_field :survey_id, @survey.id %>
		<fieldset>
          <legend>Manage Target Lists for <%= @survey.name %></legend>	    
  		  <%= f.inputs do %>
  		    <div class="form-group"> 
  		      <label for="name" class="col-lg-3 control-label">Target Lists</label>
  		      <div class="col-lg-9">
  		        <%= f.input :target_list_id, :as => :radio, :label => false, :collection => @target_lists, :member_label => Proc.new { |si| " #{si.name}" } %>
  		      </div>	
  		    </div>
  		    <div class="form-group"> 
  		      <label for="name" class="col-lg-3 control-label">Behavior</label>
  		      <div class="col-lg-9">
  		        <%= f.input :behavior, :as => :radio, :label => false, :collection => ["Multicode (all coders get all targets)", "Unicode (targets do not repeat across coders)"] %>
  		      </div>	
  		    </div>
  		  <% end %>
  		  <%= f.actions do %>
  		    <%= f.action :submit, :as => :button, :button_html => { :class => "btn btn-primary"} %>
  		  <% end %>
        </fieldset>	
      <% end %>
    </div>
  </div>
</div>

<% elsif @project.get_role(current_user) == 'coder' || @owner_code %>
  
<br />
  <%= semantic_form_for :gather_response, :html => { :class => "form-horizontal", :method => :get } do |f| %>
  <fieldset>
	<% if @next_target.display_text.nil? || @next_target.display_text.blank? %>
	  <legend>Target: <%= link_to @next_target.link_text, @next_target.link_text, :target => "_blank" %></legend>
	<% else %>  
      <legend>Target: <%= link_to @next_target.display_text, @next_target.link_text, :target => "_blank" %></legend>
    <% end %>
	  <%= hidden_field_tag :target_id, @next_target.id %>	    
	  <%= f.inputs do %>
  	    <% @current_items.each do |item| %>
  		  <% if item.field_type == "Label" %>
  		    <p><%= raw item.display_text %></p>
  		  <% else %>
			<%= f.semantic_fields_for "#{item.field_name}", :html => { :method => :get } do |fi| %>
			  <%= fi.input :survey_item_id, :as => :hidden, :input_html => { :value => item.id } %>	
			  <%= fi.input :survey_id, :as => :hidden, :input_html => { :value => @survey.id } %>  
	  	      <%= fi.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
			  <%= fi.input :target_id, :as => :hidden, :input_html => { :value => @next_target.id } %>
	  		  <div class="form-group"> 
	  		    <label for="name" class="col-lg-2 control-label"><%= item.display_text.html_safe %><%= item.required ? "*" : "" %></label>
	  		    <div class="col-lg-10">
				  <% if item.formtastic_field_map == "radio" || item.formtastic_field_map == "check_boxes" || item.formtastic_field_map ==  "select" %>
				    <% unless item.field_options.nil? %>
					  <% new_collection = Array.new %>
					  <% item.field_options.split(',').each do |option| %>
					    <% if !@gather_response.nil? && @gather_response["#{item.field_name}"]["response_text"].include?(option) %>
					      <% new_collection << ["#{option}", "#{option}", {:checked => "checked"}] %>
						<% else %>
						  <% new_collection << ["#{option}", "#{option}"] %>  
						<% end %>  
					  <% end %>	
					<% end %>
					
				    <%= fi.input :response_text, :as => item.formtastic_field_map, :label => false, :collection => item.field_options.nil? ? '' : new_collection %>	
				  <% else %>
				    <%= fi.input :response_text, :as => item.formtastic_field_map, :label => false, :input_html => { :class => "form-control", :value => @gather_response.nil? ? "" : @gather_response["#{item.field_name}"]["response_text"]}, :start_year => Time.now.year - 25, :end_year => Time.now.year + 10 %>	
				  <% end %>
	  		    </div>	
	  		  </div>  
		    <% end %>
		  <% end %>
		<% end %>
	  <% end %>	
	  <%= f.actions do %>
	    <%= f.action :submit, :as => :button, :button_html => { :class => "btn btn-primary"} %>
	  <% end %>
  </fieldset>	
  <% end %>

<% else %>
  You are not associated with this project.
<% end %>