<h1><%= @survey.project.name %>: <%= @survey.name %></h1>
<div class="col-lg-6">
  <h2>Current Survey Items</h2>
  <p>Survey Items that are included in this Survey.</p>
  <div class="table-responsive">
    <table class="table table-striped table-hover ">
	  <tr>
	    <th>Name</th>
		<th>Description</th>
		<th>Actions</th>
	  </tr>
	  <% @current_items.each do |item| %>
	  <tr>
	    <td><%= item.field_name %></td>
		<td><%= item.field_type %></td>
	    <td></td>
	  </tr>
	  <% end %>
    </table>
  </div>
  
</div>

<div class="col-lg-6">
  <h2>All Survey Items</h2>
  <p><%= link_to "Create New Survey Item", new_survey_item_path %></p>
  <div class="row">
    <div class="well"> 
      <%= semantic_form_for @survey, :html => { :class => "form-horizontal"} do |f| %>
        <%= hidden_field :survey_id, @survey.id %>
		<fieldset>
          <legend>Manage Survey Items for <%= @survey.name %></legend>	    
  		  <%= f.inputs do %>
  		    <div class="form-group"> 
  		      <label for="name" class="col-lg-2 control-label">Survey Items</label>
  		      <div class="col-lg-10">
  		        <%= f.input :survey_items, :as => :check_boxes, :label => false, :member_label => Proc.new { |si| " #{si.display_text}" } %>
  		      </div>	
  		    </div>
  		  <% end %>
  		  <%= f.actions do %>
  		    <%= f.action :submit, :as => :button, :button_html => { :class => "btn btn-primary"} %>
  		  <% end %>
        </fieldset>	
      <% end %>
    </div>
  </div>
</div>

